# Remove pycharm setting
.idea/

# Remove vscode setting
.vscode/

# Logs
*.log

# Byte-compiled
__pycache__/
*.py[cod]
*$py.class
*.pyc

# distribution / Packaging
dist/
downloads/
lib/
lib64/
parts/

# Unit test / coverage reports
.pytest_cache/
htmlcov/
.tox/
.nox/
.coverage.*
.pytest_cache

# Environments
.env
pms/
